<ion-view>
	<ion-content scroll="true" padding="false">
	 	<div ui-view name="menuContent" class="ion-subject">

			<div class="parent-div">
				<div class="child-div textoCentrado">

					<div class="list">
						<div class="item ion-subject header-add-edit">
							<h1 class="titulo-diego">Editar Tema</h1>
							<!-- <strong>Id Aula: {{aula_id}}</strong> -->
						</div>
		        
						<div ng-if="!isLoadingThemeEdit()" style="border-color: transparent;" class="item ion-subject" ng-controller="GeneralCtrl">
							<!-- <input type="hidden" name="temaIdHidden" ng-model="id" value="{{tema.id}}" /> -->
							<input type="hidden" name="temaClassroomIdHidden" ng-model="aula_id" value="{{tema_info_general['Theme'].classroom_id}}" />
							<input type="hidden" name="temaGroupIdHidden" ng-model="grupo_id" value="{{tema_info_general['Theme'].grupo_id}}" />

						  <label class="item item-input item-stacked-label">
						    <span class="input-label">Titulo</span>
						    <input type="text" ng-model="tema_info_general['Theme'].tittle" value="{{tema_info_general['Theme'].tittle}}"/>
						  </label>
						  
						  <hr style="margin: 12px auto 12px auto; border: 1px solid #ffffff;"/>

						  <label class="item item-input item-stacked-label">
						    <span class="input-label">Contenido</span>
						    <textarea rows="10" cols="20" type="text" ng-model="tema_info_general['Theme'].theme" value="{{tema_info_general['Theme'].theme}}"/></textarea>
						  </label>


						  <div class="row" style="height: 50px; margin-top: 2%;">
								<div class="col col-20">
					      	<label class="fileContainer">
					      		<i class="ion-paperclip"></i>
										<input name="file" type="file" ng-model="file_name" onchange="angular.element(this).scope().uploadFile(this.files)">
									</label>
									<span ng-if="subio == 1" style="color:white;font-size:12px;">Archivo Cargado</span>
				      	</div>
				      	<div class="col col-33"></div>
						  	<div class="col col-50" style="max-width: 48%;">
									<button class="button button-full button-balanced" style="margin: -3px 0px 0px -14px;" ng-click="editarTemaGeneral(tema_info_general['Theme'].tittle,tema_info_general['Theme'].theme,file_name)">
									  Editar
									</button>
						  	</div>
						  </div>

							<!-- <button class="button button-full button-balanced" ng-click="editarTemaGeneral()">
							  Editar
							</button> -->
						</div>

						<div ng-hide="!isLoadingThemeEdit()" themeEdit="isLoadingThemeEdit()"></div>

					</div>
		    </div>
			</div>

		</div>
	</ion-content>
</ion-view>