<ion-view class="general">
	
		<div ui-view name="menuContent" ng-controller="GeneralCtrl" style="height: 100%;">
			
			<div class="parent-div" style="height: 100%;">
				

				<div class="textoCentrado item content-theme-view">
					<ion-content scroll="true" padding="false" ng-style="{height: ((iframeHeight)-110) + 'px'}">

					<div class="bar bar-header textoCentrado item header-theme-view">

		        <div ng-if="!isLoadingTheme()" class="welcome item item-divider">
		          <h1 class="item-text-wrap  titulo-diego titulo-tema">{{tema_info_general['Theme'].tittle}}</h1>

		          <div class="question-container">
			 					<div class="avatar" ng-show="tema_info_general['User'].photo == null" style="background-image:url('http://www.3dlinkweb.com/cienciapp/img/avatar.png');"></div>
			 					<div class="avatar" ng-show="tema_info_general['User'].photo != null" style="background-image:url('http://www.3dlinkweb.com/cienciapp/files/{{tema_info_general['User'].photo}}');"></div>
		          	<div class="question">
		          		<p>{{tema_info_general['Theme'].theme}}</p>
		          		{{}}
		          		<div class="author">
		          			<a ng-if="tema_info_general['Theme'].file != null && tema_info_general['Theme'].file != ''" ng-click="viewPdf('http://www.3dlinkweb.com/cienciapp/files/{{name_file}}')">Descargar Archivo</a>
		          			<span class="name">{{tema_info_general['User'].first_name}} {{tema_info_general['User'].last_name}}</span>
		          			<span class="date">{{tema_info_general['Theme'].date.split('-')[2]}}/{{tema_info_general['Theme'].date.split('-')[1]}} {{tema_info_general['Theme'].hour.split(':')[0]}}:{{tema_info_general['Theme'].hour.split(':')[1]}}</span>
		          		</div>
		          	</div>
		          </div>
		        </div>

		        <div ng-hide="!isLoadingTheme()" theme="isLoadingTheme()"></div>
					</div>

	          <div ng-if="!isLoadingAnswer() && tema_info_general['Answer'].length != 0" ng-repeat="(key, respuesta) in tema_info_general['Answer']">

							<div class="item group-container-theme item-icon-right tema" ng-class="{'answer-correct' : respuesta.correct}">
			        	<div ui-sref="general.view" ng-click="consultarTemaGeneral(tema_general['Theme'].id)" ng-class="{'group-info-theme' : tema_general['Theme'].solved || make_theme_general_solved.id_theme == tema_general['Theme'].id}">
			        		<p class="respuesta-tema">{{respuesta.answer}}</p>	
		          		<div class="row group-datetime-theme">
				          	<div class="col col-50">{{respuesta.User.first_name}}</div>
									  <div class="col">{{respuesta.date.split('-')[2]}}/{{respuesta.date.split('-')[1]}}</div>
									  <div class="col">{{respuesta.hour.split(':')[0]}}:{{respuesta.hour.split(':')[1]}}</div>
									</div>
			        	</div>
				          <i ng-if="user_group == 2" class="icon ion-android-checkmark-circle" ng-click="respuestaCorrectaGeneral(respuesta.id, respuesta.theme_id)"></i>
				          <i ng-if="respuesta.file != null && respuesta.file != ''" class="icon ion-paperclip answer-file" ng-click="viewPdf('http://www.3dlinkweb.com/cienciapp/files/{{respuesta.file}}')"></i>
			        </div>
	          </div>

		        <div class="item-text-wrap" ng-if="!isLoadingAnswer() && tema_info_general['Answer'].length == 0">
		        	<strong>No existen respuestas para este tema...</strong>
		        </div>

	          <div ng-hide="!isLoadingAnswer()" answer="isLoadingAnswer()"></div>

          </ion-content>				
				</div>

			</div>
<!-- 
			  <ion-footer-bar class="ion-footer-theme">
			    <div style="width: 100%;" ng-controller="GeneralCtrl">


			      <div class="row">
			      	<div class="col col-10" style="border-radius: 10px; background-color: #807b7b;">
				      	<label class="fileContainer">
				      		<i class="ion-paperclip paperclip-css"></i>
									<input id="file_input_id_gral" name="file" type="file" ng-model="file_name_gral" onchange="angular.element(this).scope().uploadFile(this.files)">
								</label>
			      	</div>
			      	<div class="col" style="background-color: transparent; margin: auto 2%; border: 1px solid #000; border-radius: 8px;">
			      		<input type="hidden" name="tema_id" ng-model="tema_info_general['Theme'].id" value="{{tema_info_general['Theme'].id}}">
								<input id="answer_input_id_gral" type="text" style="width: 100%;" ng-model="tema_answer" placeholder="Escribe una respuesta...">
			      	</div>
			      	<div class="col col-10" style="border-radius: 10px; background-color: #33cd5f;" ng-click="crearRespuestaGeneral(tema_answer)">
			      		<div class="ion-chevron-up chevron-up-css" ></div>
			      	</div>
			      </div>


			    </div>
			  </ion-footer-bar>

			   -->

			  <ion-footer-bar class="ion-footer-theme">
			      <div class="row">
			      	<div class="col col-10" style="border-radius: 10px; background-color: #807b7b;">
								<!-- <div class="ion-paperclip paperclip-css" style="font-size: 230%; margin-top: 0%; margin-left: 26%; color: #fff;"></div> -->
				      	<label class="fileContainer">
				      		<i class="ion-paperclip paperclip-css"></i>
									<input id="file_input_id_gral" name="file" type="file" ng-model="file_name" onchange="angular.element(this).scope().uploadFile(this.files)">
								</label>
			      	</div>
			      	<div class="col" style="background-color: transparent; margin: auto 2%; border: 1px solid #000; border-radius: 8px;">
			      		<input type="hidden" name="tema_id" ng-model="tema_info_general['Theme'].id" value="{{tema_info_general['Theme'].id}}">
								<input id="answer_input_id_gral" type="text" style="width: 100%;" ng-model="tema_answer" placeholder="Escribe una respuesta...">
			      	</div>
			      	<div class="col col-10" style="border-radius: 10px; background-color: #33cd5f;" ng-click="crearRespuestaGeneral(tema_answer)">
			      		<div class="ion-chevron-up" style="font-size: 170%; margin-top: 16%; margin-left: 5%; color: #fff;"></div>
			      	</div>
			      </div>
			  </ion-footer-bar>
		</div>
</ion-view>