<ion-view>
	<ion-content scroll="true" padding="false">
	 	<div ui-view name="menuContent" class="ion-subject">

			<div class="parent-div">
				<div class="child-div textoCentrado">

					<div class="list">
						<div class="item ion-subject header-add-edit" style="padding: 10px;">
							<h1 class="titulo-diego">Nuevo Tema</h1>
						</div>
						<div class="row responsive-sm" style="background-color: transparent;">
						  <div class="col col-center" style="background-color: transparent;">
							  <label class="item item-input item-stacked-label">
							    <span class="input-label">Título</span>
							    <input type="text" ng-model="nombre" placeholder="Indica un nombre">
							  </label>
						  </div>
						  <div class="col" style="background-color: transparent;">
							  <label class="item item-input item-stacked-label">
							    <span class="input-label">Contenido</span>
							    <textarea rows="4" cols="20" type="text" ng-model="contenido" placeholder="Escribe una breve descripción"></textarea>
							  </label>
						  </div>
						</div>

						  <div class="row" style="height: 50px; margin-top: 2%;">
								<div class="col col-20">
					      	<label class="fileContainer">
					      		<i class="ion-paperclip"></i>
										<input name="file" type="file" ng-model="file_name" onchange="angular.element(this).scope().uploadFile(this.files)">
									</label>
									<span ng-if="subio == 1" style="color:white;font-size:12px;">Archivo Cargado</span>
				      	</div>
				      	<div class="col col-33"></div>
						  	<div class="col col-50" style="max-width: 48%;">
									<button class="button button-full button-balanced" style="margin: -3px 0px 0px -14px;" ng-disabled="!nombre" ng-click="crearTemaGeneral(nombre,contenido,file_name)">
									  Crear
									</button>
						  	</div>
						  </div>

					</div>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>