<ion-view>
	<ion-content scroll="true" padding="false">
	 	<div ui-view name="menuContent" class="ion-subject scroll">

			<div class="parent-div">
				<div class="child-div textoCentrado">

					<div class="list">
						<div class="item ion-subject header-add-edit">
							<h1 class="titulo-diego">Nuevo Grupo</h1>
							<!-- <strong>Id Aula: {{aula_id}}</strong> -->
						</div>
		        
						<div class="item ion-subject" style="border-color: transparent;" ng-controller="GruposCtrl">
						  <label class="item item-input item-stacked-label">
						    <input type="text" ng-model="nombre" placeholder="Indica un nombre del grupo">
						  </label>

						  <label class="item item-input item-stacked-label">
						    <input type="text" ng-model="descripcion" placeholder="Escribe una breve descripción">
						  </label>
							<button class="button button-full button-balanced" ng-disabled="!nombre" ng-click="crearGrupo()">
							  CREAR GRUPO
							</button>
						</div>

						<div ng-if="!isLoadingStudents()" ng-repeat="estudiante in estudiantesArray" class="beta">
							<ion-checkbox class="list-students-checkbox" ng-model="estudiante.checked" ng-checked="estudiante.checked" ng-value="{{estudiante.id}}">
							  {{estudiante.first}} {{estudiante.last}}
							</ion-checkbox>
						</div>

						<div ng-hide="!isLoadingStudents()" students="isLoadingStudents()"></div>			
					</div>

					<!-- <div class="container" style="color: #ffffff; background-color: #000000;">
				    <pre>
				      {{ estudiantesArray }}
				    </pre>
				  </div> -->

		    </div>
			</div>

		</div>
	</ion-content>
</ion-view>