<style type="text/css">

.ion-subject-options {
  background-color: white !important;
}

</style>
<ion-view>
  <ion-content class="ion-subject-options" scroll="true" padding="false">
    <div ui-view name="menuContent">

      <div class="parent-div">
        <div class="child-div child-div-group textoCentrado item-icon-right" ng-controller="MensajeCtrl">

          <div class="welcome item item-divider">
            <h1 class="textoCentrado item-text-wrap titulo-diego" style="color:black;">{{conversacion.other}}</h1>
            <hr />
          </div>

          <div class="m-container" ng-repeat="mensaje in conversacion.messages">
          	<div class="m-other m-nube" ng-show="mensaje.sender_id != conversacion.mine">
          		<span class="m-horas-other">
          			{{mensaje.created.split(' ')[0].split('-')[2]}}/{{mensaje.created.split(' ')[0].split('-')[1]}}<br>
          			{{mensaje.created.split(' ')[1].split(':')[0]}}:{{mensaje.created.split(' ')[1].split(':')[1]}}
          		</span>
          		{{mensaje.message}}
          	</div>
          	<div class="m-mine m-nube" ng-show="mensaje.sender_id == conversacion.mine">
          		<span class="m-horas-mine">
          			{{mensaje.created.split(' ')[0].split('-')[2]}}/{{mensaje.created.split(' ')[0].split('-')[1]}}<br>
          			{{mensaje.created.split(' ')[1].split(':')[0]}}:{{mensaje.created.split(' ')[1].split(':')[1]}}
          		</span>
          		{{mensaje.message}}
          	</div>
          </div>
          
        </div>
      </div>

    </div>
  </ion-content>

			  <ion-footer-bar class="ion-footer-theme">
			    <div style="width: 100%;" ng-controller="MensajeCtrl">
			      <div class="row">
			      	<div class="col" style="background-color: transparent; margin: auto 2%; border: 1px solid #000; border-radius: 8px;">
								<input type="text" style="width: 100%;" ng-model="message_response" placeholder="Escribe una respuesta...">
			      	</div>
			      	<div class="col col-10" style="border-radius: 10px; background-color: #33cd5f;" ng-click="responderMensaje(conversacion.other_id,conversacion.id)">
			      		<div class="ion-chevron-up" style="font-size: 170%; margin-top: 16%; margin-left: 5%; color: #fff;"></div>
			      	</div>
			      </div>

			    </div>
			  </ion-footer-bar>
</ion-view>