<div ng-controller="HomeCtrl">
	<div class="ngdialog-message">
		<h3>Cerrar Sesión</h3>
		<p>Está seguro de cerrar su sesión?</p>
		<!-- <h1>ID param: {{ngDialogData.id_grupo}}</h1> -->
		<!-- <input type="hidden" name="grupoIdHidden" ng-model="grupo_id" value="{{ngDialogData.id_grupo}}"> -->
		<!-- <strong ng-show="ngDialogData.json_data">Data passed through directive: <code>{{ngDialogData.json_data.foo}}</code></strong> -->
		<!-- <p ng-show="ngDialogData.foo">Data passed through directive: <code>{{ngDialogData.foo}}</code></p> -->
	</div>

	<!-- <div>
		{{ngDialogData.json_data}}
	</div> -->

	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-delete">Aceptar</button>
		<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeModalDelete()">Cancelar</button>
	</div>
</div>