<!--<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button class="button">Izquierda</button>
  </div>
  <h1 class="title">Ionic Blank Starter</h1>
  <div class="buttons">
    <button class="button">Derecha</button>
  </div>
</ion-header-bar>

<ion-content>
  <p>TABS VIEW</p>

  <button class="button icon-left ion-chevron-left button-block button-dark" ui-sref="app">
    Atrás
  </button>
</ion-content>

<ion-footer-bar class="bar-positive">
  <div class="title">Footer</div>
</ion-footer-bar>-->

<ion-nav-bar class="bar-royal">
</ion-nav-bar>

<ion-tabs class="tabs-royal">

  <ion-tab icon="ion-power" ui-sref="tab1">
    <ion-nav-view name="tab1"><div class="padding">aaaa</div></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-power" ui-sref="tab2">
    <ion-nav-view name="tab2"><div class="padding">bbbb</div></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-power" ui-sref="tab3">
    <ion-nav-view name="tab3"><div class="padding">cccc</div></ion-nav-view>
  </ion-tab>

</ion-tabs>