<ion-view>
	<ion-content class="ion-subject-options" scroll="true" padding="false">
	 	<div ui-view name="menuContent">

			<div class="parent-div">
				<div class="child-div child-div-group textoCentrado item-icon-right" ng-controller="TemasCtrl">

	        <div class="welcome item item-divider">
	          <h1 class="textoCentrado item-text-wrap titulo-diego">{{nombre_grupo}}</h1>
	          <i class="icon ion-ios-plus-outline" ui-sref="temas.add"></i>
	          <hr />
	        </div>

	        <div class="welcome item item-divider">
	          <!-- <h2>Id Aula: {{aula_id}}</h2> -->
	          <!-- <h2 style="color: #ffffff">Id Usuario: {{datos_session.id}}</h2>
	          <h2 style="color: #ffffff">Tipo usuario: {{user_group}}</h2>
	          <h2 style="color: #ffffff">Grupo ID: {{grupo_id}}</h2> -->
	          <div ng-if="!isLoadingThemes() && lista_temas_grupo.length != 0" ng-repeat="tema_grupo in lista_temas_grupo">

							<div class="item group-container-theme item-icon-right" ng-class="{'theme-solved' : tema_grupo['Theme'].solved || make_theme_solved.id_theme == tema_grupo['Theme'].id}">
			        	<div ui-sref="temas.view" ng-click="consultarTema(tema_grupo['Theme'].id)" ng-class="{'group-info-theme' : tema_grupo['Theme'].solved || make_theme_solved.id_theme == tema_grupo['Theme'].id}">
				          <h2>{{tema_grupo['Theme'].tittle}}</h2>
				          <h3 class="item-text-wrap">{{tema_grupo['Theme'].theme}}</h3>
				          <div class="row group-datetime-theme">
									  <div class="col">{{tema_grupo['Theme'].date.split('-')[2]}}/{{tema_grupo['Theme'].date.split('-')[1]}}</div>
									  <div class="col">{{tema_grupo['Theme'].hour.split(':')[0]}}:{{tema_grupo['Theme'].hour.split(':')[1]}}</div>
									  <div class="col col-50">{{count_answers_theme.id_theme === tema_grupo['Theme'].id ? count_answers_theme.total : tema_grupo['Answer'].length}} respuesta(s)</div>
									</div>
			        	</div>
				          <i ng-if="datos_session.id == tema_general['User'].id || user_group == 2" class="icon ion-trash-a" on-delete-theme="itemOnDeleteTheme(tema_grupo['Theme'].id)"></i>
						      <i ng-if="datos_session.id == tema_general['User'].id || user_group == 2" class="icon ion-edit" ui-sref="temas.edit({ temaID: tema_grupo['Theme'].id })" ng-click="consultarTema({{tema_grupo['Theme'].id}})"></i>
			        </div>
	          </div>

		        <div class="item-text-wrap" ng-if="!isLoadingThemes() && lista_temas_grupo.length == 0">
		        	<strong>Disculpe, no existen temas en este grupo por ahora...</strong>
		        </div>

	          <div ng-hide="!isLoadingThemes()" themes="isLoadingThemes()"></div>

	          <!-- <div ng-if="!isLoadingGroups()" ng-repeat="grupo in listado_grupos">

	          	<div ng-if="user_group == 2">
				        <div class="item item-text-wrap group-container item-icon-right" ng-if="listado_grupos.length > 0">
				          {{grupo.name}}
				          <i class="icon ion-trash-a" on-delete-group="itemOnDeleteGroup(grupo.id)"></i>
				          <i class="icon ion-edit" ui-sref="grupos.edit({ grupoID: grupo.id })" ng-click="listadoEstudiantes(aula_id); consultarGrupo(grupo.id)"></i>
				          <hr />
				          {{grupo.integrantes}} integrante(s)
				        </div>

				        <div class="item item-text-wrap welcome" ng-if="listado_grupos.length == 0">
				        	<strong>No posee grupos por ahora.</strong>
				        </div>
	          	</div>

	          	<div ng-if="user_group == 3">
				        <div class="item item-text-wrap group-container-student" ng-if="listado_grupos.length > 0" ui-sref="temas({ grupoID: grupo.id })" ng-click="detalleGrupo()">
				          {{grupo.name}}
				        </div>

				        <div class="item item-text-wrap welcome" ng-if="listado_grupos.length == 0">
				        	<strong>Disculpe, ustéd no está asociado a algún grupo por ahora.</strong>
				        </div>
	          	</div>
	          </div>

		        <div ng-hide="!isLoadingGroups()" groups="isLoadingGroups()"></div> -->

				    <!-- <div class="container">
				      <pre>
				        {{ make_theme_solved | json }}
				      </pre>
				    </div> -->
	        </div>
			    
		    </div>
			</div>

		</div>
	</ion-content>
</ion-view>